<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <style>
      body {
        background: #fafafa;
      }
      td, th {
        border: 1px #aaa solid;
        padding: 2px 4px;
        font-size: 0.9em;
        text-align: center;
        white-space: nowrap;
      }
      th {
        text-align: center;
        background: #eee;
      }
      tr {
        height: 30px;
        background: white;
      }
      tr:hover {
        background: #eee !important;
      }
      table {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
        margin-top: 20px;
        margin-left: 5px;
        margin-right: 5px;
        border-collapse: collapse;
      }
      .sort {
        cursor: pointer;
      }
      input {
        width: 98%;
        margin: auto;
      }
      input[type=checkbox] {
        width: unset;
      }
      .sorted-by {
        background: #c8c8c8;
      }
      .orange-cell {
        background: #f9d8bf;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <div style="text-align: center; margin: 8px;">
        <input
          type="checkbox"
          :checked="columns.whitelist_runs"
          @input="columns.whitelist_runs = $event.target.checked"
        /> Whitelist Runs
        <input
          type="checkbox"
          :checked="columns.whitelist_x_dcs_runs"
          @input="columns.whitelist_x_dcs_runs = $event.target.checked"
        /> Whitelist x DCS Runs (EXPECTED events)
        <input
          type="checkbox"
          :checked="columns.twiki"
          @input="columns.twiki = $event.target.checked"
        /> TWiki
        <input
          type="checkbox"
          :checked="columns.aod"
          @input="columns.aod = $event.target.checked"
        /> AOD
        <input
          type="checkbox"
          :checked="columns.miniaod_v1"
          @input="columns.miniaod_v1 = $event.target.checked"
        /> MiniAOD v1
        <input
          type="checkbox"
          :checked="columns.miniaod_v1_nanoaod"
          @input="columns.miniaod_v1_nanoaod = $event.target.checked"
        /> MiniAOD v1 NanoAOD
        <input
          type="checkbox"
          :checked="columns.miniaod_v2"
          @input="columns.miniaod_v2 = $event.target.checked"
        /> MiniAOD v2
        <input
          type="checkbox"
          :checked="columns.miniaod_v2_nanoaod"
          @input="columns.miniaod_v2_nanoaod = $event.target.checked"
        /> MiniAOD v2 NanoAOD
      </div>
      <table>
        <tr>
          <th rowspan=2 :class="sortOn == 'year' ? 'sorted-by' : ''">
            <span class="sort" @click="changeSortToColumn('year')">
              Year
            </span>
          </th>
          <th rowspan=2 :class="sortOn == 'input_dataset' ? 'sorted-by' : ''">
            <span class="sort" @click="changeSortToColumn('input_dataset')">
              RAW dataset
            </span>
            <br>
            <input type="text" class="header-search" placeholder="Type to search..." v-model="search.input_dataset" @input="applyFilters()">
          </th>
          <th rowspan=2 :class="sortOn == 'primary_dataset' ? 'sorted-by' : ''">
            <span class="sort" @click="changeSortToColumn('primary_dataset')">
              Primary dataset
            </span>
          </th>
          <th v-if="columns.whitelist_runs" rowspan=2 :class="sortOn == 'whitelist_runs' || sortOn == 'whitelist_events' ? 'sorted-by' : ''">
            <span class="sort" @click="changeSortToColumn('whitelist_runs')">Whitelist Runs</span>
            <br>
            <small class="sort" @click="changeSortToColumn('whitelist_events')">Whitelist Events</small>
          </th>
          <th v-if="columns.whitelist_x_dcs_runs" rowspan=2 :class="sortOn == 'whitelist_x_dcs_runs' || sortOn == 'whitelist_x_dcs_events' ? 'sorted-by' : ''">
            <span class="sort" @click="changeSortToColumn('whitelist_x_dcs_runs')">Whitelist x DCS Runs</span>
            <br>
            <small class="sort" @click="changeSortToColumn('whitelist_x_dcs_events')">Whitelist x DCS Events</small>
            <br>
            EXPECTED
          </th>
          <th v-if="columns.twiki" colspan=2>
            TWiki
          </th>
          <th v-if="columns.aod" colspan=3>
            AOD
          </th>
          <th v-if="columns.miniaod_v1" colspan=3>
            MiniAODv1
          </th>
          <th v-if="columns.miniaod_v1_nanoaod" colspan=3>
            MiniAODv1's NanoAOD
          </th>
          <th v-if="columns.miniaod_v2" colspan=3>
            MiniAODv2
          </th>
          <th v-if="columns.miniaod_v2_nanoaod" colspan=3>
            MiniAODv2's NanoAOD
          </th>
        </tr>
        <tr>
          <th v-if="columns.twiki" :class="sortOn == 'twiki_runs' ? 'sorted-by' : ''">
            <span class="sort" @click="changeSortToColumn('twiki_runs')">Runs</span>
          </th>
          <th v-if="columns.twiki" :class="sortOn == 'whitelist_x_dcs_twiki_runs_diff' ? 'sorted-by' : ''">
            <span class="sort" @click="changeSortToColumn('whitelist_x_dcs_twiki_runs_diff')">Diff to Whitelist x DCS</span>
          </th>
          <template v-if="columns.aod">
            <th :class="sortOn == 'aod_dataset' || sortOn == 'aod_prepid' ? 'sorted-by' : ''">
              <span class="sort" @click="changeSortToColumn('aod_dataset')">Dataset</span>&nbsp;
              <br>
              <small class="sort" @click="changeSortToColumn('aod_prepid')">PrepID</small>
            </th>
            <th :class="sortOn == 'aod_runs_diff' ? 'sorted-by' : ''">
              <span class="sort" @click="changeSortToColumn('aod_whitelist_x_dcs_runs_diff')">Diff to Whitelist x DCS</span>
            </th>
            <th :class="sortOn == 'aod_whitelist_x_dcs_ratio' || sortOn == 'aod_events'  ? 'sorted-by' : ''">
              <span class="sort" @click="changeSortToColumn('aod_whitelist_x_dcs_ratio')">Produced/Expected</span>
              <br>
              <small class="sort" @click="changeSortToColumn('aod_events')">Produced Events</small>
            </th>
          </template>
          <template v-if="columns.miniaod_v1">
            <th :class="sortOn == 'miniaod_v1_dataset' || sortOn == 'miniaod_v1_prepid' ? 'sorted-by' : ''">
              <span class="sort" @click="changeSortToColumn('miniaod_v1_dataset')">Dataset</span>&nbsp;
              <br>
              <small class="sort" @click="changeSortToColumn('miniaod_v1_prepid')">PrepID</small>
            </th>
            <th :class="sortOn == 'miniaod_v1_runs_diff' ? 'sorted-by' : ''">
              <span class="sort" @click="changeSortToColumn('miniaod_v1_whitelist_x_dcs_runs_diff')">Diff to Whitelist x DCS</span>
            </th>
            <th :class="sortOn == 'miniaod_v1_whitelist_x_dcs_ratio' || sortOn == 'miniaod_v1_events'  ? 'sorted-by' : ''">
              <span class="sort" @click="changeSortToColumn('miniaod_v1_whitelist_x_dcs_ratio')">Produced/Expected</span>
              <br>
              <small class="sort" @click="changeSortToColumn('miniaod_v1_events')">Produced Events</small>
            </th>
          </template>
          <template v-if="columns.miniaod_v1_nanoaod">
            <th :class="sortOn == 'miniaod_v1_nanoaod_dataset' || sortOn == 'miniaod_v1_nanoaod_prepid' ? 'sorted-by' : ''">
              <span class="sort" @click="changeSortToColumn('miniaod_v1_nanoaod_dataset')">Dataset</span>&nbsp;
              <br>
              <small class="sort" @click="changeSortToColumn('miniaod_v1_nanoaod_prepid')">PrepID</small>
            </th>
            <th :class="sortOn == 'miniaod_v1_nanoaod_runs_diff' ? 'sorted-by' : ''">
              <span class="sort" @click="changeSortToColumn('miniaod_v1_nanoaod_whitelist_x_dcs_runs_diff')">Diff to Whitelist x DCS</span>
            </th>
            <th :class="sortOn == 'miniaod_v1_nanoaod_whitelist_x_dcs_ratio' || sortOn == 'miniaod_v1_nanoaod_events'  ? 'sorted-by' : ''">
              <span class="sort" @click="changeSortToColumn('miniaod_v1_nanoaod_whitelist_x_dcs_ratio')">Produced/Expected</span>
              <br>
              <small class="sort" @click="changeSortToColumn('miniaod_v1_nanoaod_events')">Produced Events</small>
            </th>
          </template>
          <template v-if="columns.miniaod_v2">
            <th :class="sortOn == 'miniaod_v2_dataset' || sortOn == 'miniaod_v2_prepid' ? 'sorted-by' : ''">
              <span class="sort" @click="changeSortToColumn('miniaod_v2_dataset')">Dataset</span>&nbsp;
              <br>
              <small class="sort" @click="changeSortToColumn('miniaod_v2_prepid')">PrepID</small>
            </th>
            <th :class="sortOn == 'miniaod_v2_runs_diff' ? 'sorted-by' : ''">
              <span class="sort" @click="changeSortToColumn('miniaod_v2_whitelist_x_dcs_runs_diff')">Diff to Whitelist x DCS</span>
            </th>
            <th :class="sortOn == 'miniaod_v2_whitelist_x_dcs_ratio' || sortOn == 'miniaod_v2_events'  ? 'sorted-by' : ''">
              <span class="sort" @click="changeSortToColumn('miniaod_v2_whitelist_x_dcs_ratio')">Produced/Expected</span>
              <br>
              <small class="sort" @click="changeSortToColumn('miniaod_v2_events')">Produced Events</small>
            </th>
          </template>
          <template v-if="columns.miniaod_v2_nanoaod">
            <th :class="sortOn == 'miniaod_v2_nanoaod_dataset' || sortOn == 'miniaod_v2_nanoaod_prepid' ? 'sorted-by' : ''">
              <span class="sort" @click="changeSortToColumn('miniaod_v2_nanoaod_dataset')">Dataset</span>&nbsp;
              <br>
              <small class="sort" @click="changeSortToColumn('miniaod_v2_nanoaod_prepid')">PrepID</small>
            </th>
            <th :class="sortOn == 'miniaod_v2_nanoaod_runs_diff' ? 'sorted-by' : ''">
              <span class="sort" @click="changeSortToColumn('miniaod_v2_nanoaod_whitelist_x_dcs_runs_diff')">Diff to Whitelist x DCS</span>
            </th>
            <th :class="sortOn == 'miniaod_v2_nanoaod_whitelist_x_dcs_ratio' || sortOn == 'miniaod_v2_nanoaod_events'  ? 'sorted-by' : ''">
              <span class="sort" @click="changeSortToColumn('miniaod_v2_nanoaod_whitelist_x_dcs_ratio')">Produced/Expected</span>
              <br>
              <small class="sort" @click="changeSortToColumn('miniaod_v2_nanoaod_events')">Produced Events</small>
            </th>
          </template>
        </tr>
        <tr v-for="row in rows">
          <td>{{row.year}}</td>
          <td><a target="_blank" :href="makeDASLink(row.input_dataset)">{{row.input_dataset}}</a><br><small>{{row.raw_runs}} runs {{row.raw_events}} events</small></td>
          <td>{{row.primary_dataset}}</td>
          <td v-if="columns.whitelist_runs">{{row.whitelist_runs}} runs<br><small>{{row.whitelist_events}} events</small></td>
          <td v-if="columns.whitelist_x_dcs_runs">{{row.whitelist_x_dcs_runs}} runs<br><small>{{row.whitelist_x_dcs_events}} events</small></td>
          <td v-if="columns.twiki" >{{row.twiki_runs}} runs</td>
          <td v-if="columns.twiki" >
            <template v-if="row.whitelist_x_dcs_twiki_surplus_runs">
              Surplus {{row.whitelist_x_dcs_twiki_surplus_runs}} runs<br>
            </template>
            <template v-if="row.whitelist_x_dcs_twiki_missing_runs">
              Missing {{row.whitelist_x_dcs_twiki_missing_runs}} runs<br>
            </template>
          </td>
          <template v-if="columns.aod">
            <td :class="row['aod_dataset_status'] == 'PRODUCTION' ? 'orange-cell' : ''">
              <a target="_blank" :href="makeDASLink(row['aod_dataset'])">{{row['aod_dataset']}}</a>
              <br>
              <small><a target="_blank" :href="makeDimaLink(row['aod_prepid'])">{{row['aod_prepid']}}</a></small>
            </td>
            <template v-if="row['aod_dataset']">
              <td>
                <template v-if="row['aod_whitelist_x_dcs_surplus_runs']">
                  Surplus {{row['aod_whitelist_x_dcs_surplus_runs']}} runs<br>
                </template>
                <template v-if="row['aod_whitelist_x_dcs_missing_runs']">
                  Missing {{row['aod_whitelist_x_dcs_missing_runs']}} runs<br>
                </template>
                <template v-if="row['aod_events'] > row['whitelist_x_dcs_events']">
                  Surplus {{row['aod_events'] - row['whitelist_x_dcs_events']}} events
                </template>
                <template v-if="row['aod_events'] < row['whitelist_x_dcs_events']">
                  Missing {{row['whitelist_x_dcs_events'] - row['aod_events']}} events
                </template>
              </td>
              <td>
                {{row['aod_whitelist_x_dcs_ratio']}}
                <br>
                <small>{{row['aod_events']}} events</small>
              </td>
            </template>
            <template v-else>
              <td></td>
              <td></td>
            </template>
          </template>


          <template v-if="columns.miniaod_v1">
            <td :class="row['miniaod_v1_dataset_status'] == 'PRODUCTION' ? 'orange-cell' : ''">
              <a target="_blank" :href="makeDASLink(row['miniaod_v1_dataset'])">{{row['miniaod_v1_dataset']}}</a>
              <br>
              <small><a target="_blank" :href="makeDimaLink(row['miniaod_v1_prepid'])">{{row['miniaod_v1_prepid']}}</a></small>
            </td>
            <template v-if="row['miniaod_v1_dataset']">
              <td>
                <template v-if="row['miniaod_v1_whitelist_x_dcs_surplus_runs']">
                  Surplus {{row['miniaod_v1_whitelist_x_dcs_surplus_runs']}} runs<br>
                </template>
                <template v-if="row['miniaod_v1_whitelist_x_dcs_missing_runs']">
                  Missing {{row['miniaod_v1_whitelist_x_dcs_missing_runs']}} runs<br>
                </template>
                <template v-if="row['miniaod_v1_events'] > row['whitelist_x_dcs_events']">
                  Surplus {{row['miniaod_v1_events'] - row['whitelist_x_dcs_events']}} events
                </template>
                <template v-if="row['miniaod_v1_events'] < row['whitelist_x_dcs_events']">
                  Missing {{row['whitelist_x_dcs_events'] - row['miniaod_v1_events']}} events
                </template>
              </td>
              <td>
                {{row['miniaod_v1_whitelist_x_dcs_ratio']}}
                <br>
                <small>{{row['miniaod_v1_events']}} events</small>
              </td>
            </template>
            <template v-else>
              <td></td>
              <td></td>
            </template>
          </template>

          <template v-if="columns.miniaod_v1_nanoaod">
            <td :class="row['miniaod_v1_nanoaod_dataset_status'] == 'PRODUCTION' ? 'orange-cell' : ''">
              <a target="_blank" :href="makeDASLink(row['miniaod_v1_nanoaod_dataset'])">{{row['miniaod_v1_nanoaod_dataset']}}</a>
              <br>
              <small><a target="_blank" :href="makeDimaLink(row['miniaod_v1_prepid'])">{{row['miniaod_v1_nanoaod_prepid']}}</a></small>
            </td>
            <template v-if="row['miniaod_v1_nanoaod_dataset']">
              <td>
                <template v-if="row['miniaod_v1_nanoaod_whitelist_x_dcs_surplus_runs']">
                  Surplus {{row['miniaod_v1_nanoaod_whitelist_x_dcs_surplus_runs']}} runs<br>
                </template>
                <template v-if="row['miniaod_v1_nanoaod_whitelist_x_dcs_missing_runs']">
                  Missing {{row['miniaod_v1_nanoaod_whitelist_x_dcs_missing_runs']}} runs<br>
                </template>
                <template v-if="row['miniaod_v1_nanoaod_events'] > row['whitelist_x_dcs_events']">
                  Surplus {{row['miniaod_v1_nanoaod_events'] - row['whitelist_x_dcs_events']}} events
                </template>
                <template v-if="row['miniaod_v1_nanoaod_events'] < row['whitelist_x_dcs_events']">
                  Missing {{row['whitelist_x_dcs_events'] - row['miniaod_v1_nanoaod_events']}} events
                </template>
              </td>
              <td>
                {{row['miniaod_v1_nanoaod_whitelist_x_dcs_ratio']}}
                <br>
                <small>{{row['miniaod_v1_nanoaod_events']}} events</small>
              </td>
            </template>
            <template v-else>
              <td></td>
              <td></td>
            </template>
          </template>

          <template v-if="columns.miniaod_v2">
            <td :class="row['miniaod_v2_dataset_status'] == 'PRODUCTION' ? 'orange-cell' : ''">
              <a target="_blank" :href="makeDASLink(row['miniaod_v2_dataset'])">{{row['miniaod_v2_dataset']}}</a>
              <br>
              <small><a target="_blank" :href="makeDimaLink(row['miniaod_v2_prepid'])">{{row['miniaod_v2_prepid']}}</a></small>
            </td>
            <template v-if="row['miniaod_v2_dataset']">
              <td>
                <template v-if="row['miniaod_v2_whitelist_x_dcs_surplus_runs']">
                  Surplus {{row['miniaod_v2_whitelist_x_dcs_surplus_runs']}} runs<br>
                </template>
                <template v-if="row['miniaod_v2_whitelist_x_dcs_missing_runs']">
                  Missing {{row['miniaod_v2_whitelist_x_dcs_missing_runs']}} runs<br>
                </template>
                <template v-if="row['miniaod_v2_events'] > row['whitelist_x_dcs_events']">
                  Surplus {{row['miniaod_v2_events'] - row['whitelist_x_dcs_events']}} events
                </template>
                <template v-if="row['miniaod_v2_events'] < row['whitelist_x_dcs_events']">
                  Missing {{row['whitelist_x_dcs_events'] - row['miniaod_v2_events']}} events
                </template>
              </td>
              <td>
                {{row['miniaod_v2_whitelist_x_dcs_ratio']}}
                <br>
                <small>{{row['miniaod_v2_events']}} events</small>
              </td>
            </template>
            <template v-else>
              <td></td>
              <td></td>
            </template>
          </template>

          <template v-if="columns.miniaod_v2_nanoaod">
            <td :class="row['miniaod_v2_nanoaod_dataset_status'] == 'PRODUCTION' ? 'orange-cell' : ''">
              <a target="_blank" :href="makeDASLink(row['miniaod_v2_nanoaod_dataset'])">{{row['miniaod_v2_nanoaod_dataset']}}</a>
              <br>
              <small><a target="_blank" :href="makeDimaLink(row['miniaod_v2_prepid'])">{{row['miniaod_v2_nanoaod_prepid']}}</a></small>
            </td>
            <template v-if="row['miniaod_v2_nanoaod_dataset']">
              <td>
                <template v-if="row['miniaod_v2_nanoaod_whitelist_x_dcs_surplus_runs']">
                  Surplus {{row['miniaod_v2_nanoaod_whitelist_x_dcs_surplus_runs']}} runs<br>
                </template>
                <template v-if="row['miniaod_v2_nanoaod_whitelist_x_dcs_missing_runs']">
                  Missing {{row['miniaod_v2_nanoaod_whitelist_x_dcs_missing_runs']}} runs<br>
                </template>
                <template v-if="row['miniaod_v2_nanoaod_events'] > row['whitelist_x_dcs_events']">
                  Surplus {{row['miniaod_v2_nanoaod_events'] - row['whitelist_x_dcs_events']}} events
                </template>
                <template v-if="row['miniaod_v2_nanoaod_events'] < row['whitelist_x_dcs_events']">
                  Missing {{row['whitelist_x_dcs_events'] - row['miniaod_v2_nanoaod_events']}} events
                </template>
              </td>
              <td>
                {{row['miniaod_v2_nanoaod_whitelist_x_dcs_ratio']}}
                <br>
                <small>{{row['miniaod_v2_nanoaod_events']}} events</small>
              </td>
            </template>
            <template v-else>
              <td></td>
              <td></td>
            </template>
          </template>



          </template>
        </tr>
      </table>
    </div>

    <script>
      var app = new Vue({
        el: '#app',
        data: {
          data: [],
          rows: [],
          sortOn: 'year',
          sortOrder: 1,
          prefixes: ['aod', 'miniaod_v1', 'miniaod_v1_nanoaod', 'miniaod_v2', 'miniaod_v2_nanoaod'],
          search: {
            input_dataset: undefined,
          },
          columns: {
            whitelist_runs: true,
            whitelist_x_dcs_runs: true,
            twiki: true,
            aod: true,
            miniaod_v1: true,
            miniaod_v1_nanoaod: true,
            miniaod_v2: true,
            miniaod_v2_nanoaod: true,
          }
        },
        created (){
          let urlParams = Object.fromEntries(new URLSearchParams(window.location.search));
          this.search.input_dataset = urlParams.input_dataset;
          this.sortOn = urlParams.sort_on || 'year';
          this.sortOrder = parseInt(urlParams.sort_order || 1);

          const component = this;
          $.get( "data_original_table.json", function( data ) {
            console.log( data );
            component.data = data;
            component.applyFilters();
            component.rows = component.rows.sort(component.sortComparator);
          });
        },
        methods: {
          sortComparator: function(a, b) {
            if (a[this.sortOn] === null && b[this.sortOn] === null) {
              return 0;
            }
            // nulls go at the end
            if (a[this.sortOn] === null) {
              return 1; //this.sortOrder;
            }
            if (b[this.sortOn] === null) {
              return -1; //-this.sortOrder;
            }
            // Compare normal values
            if (a[this.sortOn] < b[this.sortOn]) {
              return -this.sortOrder;
            }
            if (a[this.sortOn] > b[this.sortOn]) {
              return this.sortOrder;
            }
            return a['input_dataset'] > b['input_dataset'] ? this.sortOrder : -this.sortOrder;
          },
          changeSortToColumn: function(column) {
            if (column == this.sortOn) {
                this.sortOrder *= -1;
            } else {
                this.sortOn = column;
                this.sortOrder = 1;
            }
            this.rows = this.rows.sort(this.sortComparator);
            let urlParams = Object.fromEntries(new URLSearchParams(window.location.search));
            if (this.sortOrder != 1) {
              urlParams['sort_order'] = this.sortOrder;
            } else {
              delete urlParams['sort_order'];
            }
            if (this.sortOn != 'year') {
              urlParams['sort_on'] = this.sortOn;
            } else {
              delete urlParams['sort_on'];
            }
            this.replaceQuery(urlParams);
          },
          applyFilters: function() {
            let filteredRows = this.data;
            let urlParams = Object.fromEntries(new URLSearchParams(window.location.search));
            for (let attribute in this.search) {
              if (this.search[attribute]) {
                const pattern = this.search[attribute].replace(/\.\*/g, '*').replace(/ /g, '*').replace(/\*/g, '.*');
                const regex = RegExp(pattern, 'i'); // 'i' for case insensitivity
                filteredRows = filteredRows.filter(entry => entry[attribute] != '' && regex.test(entry[attribute]));
                urlParams[attribute] = this.search[attribute];
              } else {
                delete urlParams[attribute]
              }
            }
            this.rows = filteredRows;
            this.replaceQuery(urlParams);
          },
          replaceQuery: function(urlParams) {
            let urlQuery = new URLSearchParams(urlParams).toString();
            if (urlQuery) {
              urlQuery = '?' + urlQuery;
            }
            let newUrl = window.location.protocol + "//" + window.location.host + window.location.pathname + urlQuery;
            window.history.replaceState({path: newUrl}, '', newUrl);
          },
          makeDASLink(dataset) {
            return 'https://cmsweb.cern.ch/das/request?view=list&limit=50&instance=prod%2Fglobal&input=dataset%3D' + dataset;
          },
          makeDimaLink(prepid) {
            return 'https://dmytro.web.cern.ch/dmytro/cmsprodmon/workflows.php?prep_id=' + prepid;
          }
        }
      })
    </script>
  </body>
</html>